<div clas="h-full w-full p-4 grid place-items-center">

  <h1 class="h-auto w-full p-2 flex justify-center items-center">Fyle Internship Assignment</h1>
  <h3 class="h-auto w-full p-2 flex justify-center items-center">Workout Tracker</h3>
 
  <div class="h-auto w-full p-4 flex justify-center items-center flex-wrap">
    <app-inputs class="h-auto w-full grid grid-cols-1 grid-rows-2 sm:w-full md:w-full lg:w-full xl:w-1/3 2xl:w-1/3"></app-inputs>
    <app-grid class="h-auto w-full grid grid-cols-1 grid-rows-2 sm:w-full md:w-full lg:w-full xl:w-1/3 2xl:w-1/3"></app-grid>
    <app-chart class="h-auto w-full grid grid-cols-1 grid-rows-2 sm:w-full md:w-full lg:w-full xl:w-1/3 2xl:w-1/3"></app-chart>
  </div>

</div>

